/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.wraper {
  display: grid;
  place-items: center;
  padding-top: 50%;
}

nav ul{
  list-style: none !important;
  text-decoration: none!important;
}
a{
  text-decoration: none!important;

}
.active{
color: brown!important;
background-color: coral;
text-decoration: none;
}

*{
  color:rgba(0, 139, 139, 0.664)
}
